---
import { CollectionEntry, getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const pages = await getCollection("wildernether");

  return pages.filter(page => page.slug !== "sidebar" && page.slug !== "index").map((page) => ({
    params: { page: page.slug },
    props: { page },
  }));
}

interface Props {
  page: CollectionEntry<"wildernether">;
}

const {
  page: { data, render },
} = Astro.props;
const { Content } = await render();
const Sidebar = await getEntry("wildernether", "sidebar").then(sidebar => sidebar.render());
---

<Layout title={data.title + " | Wildernether Docs"}>
  <Sidebar.Content slot="sidebar" />
  <div class="markdown-root">
    <h1>{data.title}</h1>
    <Content />
  </div>
</Layout>
