$color-text: #f3fcfa;
$color-background: #071217;
$color-primary: #2ca2d8;
$color-secondary: #09232f;
$color-accent: #d16533;
$color-info: #2c63d8;
$color-warning: #d8d52c;

.sidebar,
.markdown-root {
  color: $color-text;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0.8em;
    margin-bottom: 0.2em;
  }

  h1 {
    font-size: 2.75em;
    font-weight: 600;
  }

  h2 {
    font-size: 2em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 600;
  }

  h4 {
    font-size: 1.125em;
    font-weight: 600;
  }

  h5 {
    font-size: 1em;
    font-weight: 600;
  }

  h6 {
    font-size: 1em;
    font-weight: 500;
  }

  p,
  ul,
  ol {
    margin-bottom: 0.4rem;
  }

  a {
    color: #d16533;
    text-decoration: underline;

    &:hover {
      opacity: 0.75;

      &:has(img) {
        opacity: 1;
      }
    }
  }

  ul {
    list-style: disc outside none;
  }

  ol {
    list-style: decimal outside none;
  }

  ul > li,
  ol > li {
    margin-left: 2rem;
  }

  .block-text,
  blockquote {
    &.info {
      background-color: rgba($color-info, 0.25);

      .header {
        color: $color-info;
      }

      &:after {
        border-left-color: $color-info;
      }
    }

    &.warning {
      background-color: rgba($color-warning, 0.25);

      .header {
        color: $color-warning;
      }

      &:after {
        border-left-color: $color-warning;
      }
    }

    &:after {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      border-left-width: 0.5rem;
      border-left-style: solid;
      border-left-color: $color-primary;
    }

    :last-child {
      margin-bottom: 0;
    }

    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgba($color-primary, 0.5);
    padding: 0.8rem 1.5rem;
    margin: 1rem 0;
  }

  pre {
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
  }

  table {
    margin: 1rem 0;

    tr:nth-child(2n) {
      background-color: rgba($color-primary, 0.075);
    }

    th,
    td {
      border: 1px solid rgba($color-text, 0.5);
      padding: 0.6rem 0.8rem;
    }
  }
}

.sidebar {
  font-size: 14px;

  ul, ol {
    list-style: none;
  }

  li {
    padding: 0;
    margin: 0 !important;
  }

  a {
    $padding-h: 0.2rem;
    $padding-v: 0.5rem;
    $border-width: 2px;

    max-width: 100%;
    color: $color-text;
    text-decoration: none;
    display: inline-flex;
    padding: $padding-h $padding-v;
    border-radius: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      opacity: 1;
      border: 2px solid $color-accent;
      padding: calc($padding-h - $border-width) calc($padding-v - $border-width);
      background-color: rgba($color-accent, 0.33);
    }
  }
}
