---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Schn's Docs">
  <h1>Schn's Docs</h1>
  <p>Hello! This website hosts documentation for my addons and other projects. The links on the top right will take you to their respective pages</p>
</Layout>
