---
import SearchBar from "./SearchBar.astro";

---

<nav class="flex flex-row h-20 items-center bg-secondary px-5 gap-5 justify-end border-b-primary border-b">
  <ul class="flex flex-row gap-5">
    <li>
      <a class="text-text border border-primary rounded-lg p-3 px-5 hover:bg-primary !bg-opacity-30" href="/gastronomicon/">Gastronomicon</a>
    </li>
    <li>
      <a class="text-text border border-primary rounded-lg p-3 px-5 hover:bg-primary !bg-opacity-30" href="/slimehud/">SlimeHUD</a>
    </li>
  </ul>
  <SearchBar />
</nav>
