---
const addons = ["Gastronomicon", "SlimeHUD", "Wildernether"];
---

<nav
  class="flex flex-row h-20 items-center bg-opacity-20 bg-secondary px-5 gap-5 justify-end border-b-secondary border-b"
>
  <ul class="flex flex-row gap-5">
    {
      addons.map((addon) => (
        <li>
          <a
            class="text-text border border-primary rounded-lg p-3 px-5 hover:bg-primary !bg-opacity-30"
            href={`/${addon.toLowerCase()}/`}
          >
            {addon}
          </a>
        </li>
      ))
    }
  </ul>
  <!-- <SearchBar /> -->
</nav>
