---
---

<side-menu
  data-url={Astro.url}
  class="p-8 text-text bg-opacity-20 bg-secondary h-full w-64 border-r border-r-secondary sidebar block"
>
  <div class="fixed">
    <slot />
  </div>
</side-menu>

<script>
  class SideMenu extends HTMLElement {
    constructor() {
      super();
      document.querySelectorAll<HTMLAnchorElement>(".sidebar a").forEach((elem) => {
          console.log("START")
        console.log(elem.href)
        console.log(this.dataset.url)
        console.log(/(.+?)\/?$/.exec(elem.href)?.[1])
        console.log(/(.+?)\/?$/.exec(this.dataset.url || "")?.[1])
        console.log(new URL(elem.href).pathname)
        console.log(new URL(this.dataset.url || "").pathname)
        if (
          new URL(this.removeTrailingSlash(elem.href)).pathname ==
          new URL(this.removeTrailingSlash(this.dataset.url || "")).pathname
        ) {
          elem.classList.add("active");
          console.log("ACTIVE")
        }
      });
    }

    removeTrailingSlash(url: string): string {
      return /(.+?)\/?$/.exec(url)?.[1] || "";
    }
  }
 
  customElements.define("side-menu", SideMenu)
</script>
